/* @import url("../styles.css"); */
@media print {


    @page {
        size: 8.5in 11in;
    }

    /* @page table-of-contents-wrapper {
        background: blue;
        color: red;
        font-size: 2px;
    } */

    .subsection-title, .section-title {
        page-break-after: avoid;
    }

    body {
        animation: none;
    }

    img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .title-weight p {
        font-size: 3.5rem;
        padding: 0;
    }

    .title-image {
        height: 2.5rem;
        /* width: 0; */
        /* display: none !important; */
    }

    .title-image:before { 
        content: '\A'; 
    }


    #table-of-contents-wrapper {
        position: absolute;
        padding: 0;
        page: table-of-contents-wrapper;
    }

    .slide-left {
        animation: none;
    }

    #author-container {
        padding-right: 0;
    }

    #media-toggles-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    /* #media-toggles {
        position: relative;
    } */

    #header,
    #footer,
    #nav {
        display: none !important;
    }
}